<% user = @current_user %>
<h1>User Profile Page</h1>
<%= render 'includes/messages' %>
<div class="row">
	<table class="table text-center">
		<tr>
			<th>Gravatar</th>
			<td><%= gravatar_image_tag(user.email, :alt => user.username, :class => 'rounded', :gravatar => { :default => 'https://assets.github.com/images/gravatars/gravatar-140.png' }) %>
			</td>
		</tr>
		<tr>
			<th>Name</th>
			<td><%= user.username %></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><%= user.email %></td>
		</tr>
		<tr>
			<th>Action</th>
			<td>
				<a href="<%= edit_profile_path(user) %>" class="badge badge-primary">
				Edit profile
			  </a>	
			  <%= link_to "Delete profile", delete_profile_path(user), method: :delete, data: {confirm: "Are you sure?"}, class: "badge badge-danger" %>
			</td>
		</tr>
	</table>
</div>

