<div class="row">
<% if @users.count > 0 %>
<% @users.each_with_index do |user, i| %>
	 <div class="col-sm-3">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar text-center">
                    <%= gravatar_image_tag(user.email, :alt => user.username, :class => 'rounded', :gravatar => { :default => 'https://assets.github.com/images/gravatars/gravatar-140.png' }) %>
                </div>
                <div class="content">
                    <p class="my-1 text-center">
                    	<%= user.username %>
                    </p>
                    <% if logged_in? && current_user.id == user.id %>
                   	  <p class="text-center">
                         <a href="<%= show_profile_path %>" style="padding:10px;" class="badge badge-success">
                           Show profile
                         </a>  
												<a href="<%= edit_profile_path(user) %>" style="padding:10px;" class="badge badge-primary">
                    			Edit Profile
                   		  </a>
                   	 <% else %>
                   	   <p class="text-center">
                    		<button type="button" class="btn btn-primary" class="btn btn-primary" data-toggle=	"modal" data-target="#exampleModal-<%= i %>">
                    			Contact
                   		  </button>
                  		</p>
                    <% end %>
                </div>
            </div>
        </div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal-<%= i %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Contact <%= user.username.capitalize %></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p class="text-center mail">Email : <%= user.email.downcase %></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
<% end %>
<% else %>
  <h3 class="text-center my-5">No users signed up !</h3>
<% end %>  
</div>